@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");


@font-face {
  font-family: 'market_decoregular';
  src: url('font/market_deco-webfont.woff2') format('woff2'),
  url('font/market_deco-webfont.woff') format('woff'),
  url('font/market_deco.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;

}

body {
  background-color: black;
  color: white;
  font-family: 'market_decoregular', sans-serif;
  z-index: 1;
  margin: 20px;
  overflow: hidden;
}

h1 {
  font-family: 'market_decoregular', sans-serif;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-size: 18px;
}

.zizi-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  background-color: #2e010f;
  color: #ff9c84;
}

.zizi-sidebar a:hover {
  color: #b22d3f;
}

#main-bar-logo {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.mini-sidebar {
  box-shadow: 0px 0px 41px 24px rgba(28, 0, 8, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  background-color: #380011;
}

.mini-sidebar .zizi-icon {
  font-size: 2.1rem;
}

.mini-sidebar .centered-buttons {
  display: flex;
  flex-direction: column;
}

.mini-sidebar .centered-buttons > a {
  padding: 20px 0 20px 0;
}

.main-sidebar {
  width: 27rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.main-sidebar .zizi-icon {
  font-size: 2rem;
}

.main-sidebar a.inline-link {
  text-decoration: none;
  color: #ffbcaf;
}
.main-sidebar a.inline-link:hover {
  text-decoration: none;
  color: #d63a00;
}

.main-bar-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-basis: 35rem;
}

.main-bar-content .player-controls a {
  margin: 0 1rem 0 1rem;
}

.main-bar-content div:after {
  content: "";
  width: 50%;
  height: 1px;
  background-color:  #ffbcaf;
  display: block;
  margin: 25%;
}

.main-sidebar sub {
  display: block;
}

.main-sidebar .now-playing p {
  margin: 0;
  font-size: 1.1rem;
}

.zizi-sidebar .main-bar-content .sidebar-large-button {
  font-size: 2rem;
}

/* attempt at animation for the sidebar */
@keyframes sidebar-close {
  from {
    left: 0;
  }
  to {
    left: -27rem;
  }
}

@keyframes sidebar-open {
  from {
    left: -27rem;
  }
  to {
    left: 0;
  }
}

.zizi-sidebar.closed {
  animation-duration: 1s;
  animation-name: sidebar-close;
  left: -27rem;
}

.zizi-sidebar.open {
  animation-duration: 1s;
  animation-name: sidebar-open;
  left: 0;
}

.curtain {
  position: absolute;
  max-width: 150%;
  max-height: 150%;
  left: 50%;
  top: 50%;
  user-select: none;
  transform: translate(-50%, -55%);
  z-index: -3;
}

.primary-player {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  user-select: none;

  mix-blend-mode: lighten;
  z-index: -1;
}

.shadow-player {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  user-select: none;

  mix-blend-mode: multiply;
  z-index: -2;
}

.button-group {
  line-height: 2;
  font-size: 2vw;
}

/* unvisited link */
a:link {
  color: #d98b6f;
}

/* visited link */
a:visited {
  color: #edb49f;
}

/* mouse over link */
a:hover {
  color: #d63a00;
}

/* selected link */
a:active {
  color: #fff;
}

a:disabled {
  color: #555;
}
