@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@font-face {
  font-family: "market_decoregular";
  src: url("font/market_deco-webfont.woff2") format("woff2"),
    url("font/market_deco-webfont.woff") format("woff"),
    url("font/market_deco.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  color: white;
  font-family: "market_decoregular", sans-serif;
  z-index: 1;
  overflow: hidden;
  touch-action: none;
}

button, a {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-align: inherit;
  color: #edb49f;
}

span {
  cursor: pointer;
}

html,
body,
#root,
.fullheight {
  height: 100%;
}

.curtain-bg {
  position: fixed;
  height: 100%;
  /* display: none; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -4;
  transition: opacity 1s;
  touch-action: none;
}

.curtain-side {
  position: fixed;
  height: 100%;
  /* display: none; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* mix-blend-mode: overlay; */
  z-index: -1;
  touch-action: none;
}

.video-frame {
  position: fixed;
  height: 100%;
  width: 100vh;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%);
  touch-action: none;
}

.video-frame.hidden {
  visibility: hidden;
}

.drag-video {
  height: 100%;
  width: 200%;
}

.drag-video.zoom {
  transform: translateX(-50%);
}

.primary-player {
  mix-blend-mode: lighten;
  z-index: -2;
}

.shadow-player {
  mix-blend-mode: multiply;
  z-index: -3;
}

.pose-player {
  mix-blend-mode: screen;
  z-index: -3;
}

.drag-video-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  isolation: isolate;
  /* background-color: grey; */
}

/* unvisited link, visited link */
button:link,
button:visited, a:visited {
  color: #edb49f;
}

/* mouse over link */
button:hover, a:hover, span:hover {
  color: #aa272e;
}

/* selected link */
button:active, a:active {
  color: #fff;
}

h2 {
  font-family: "market_decoregular", sans-serif;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}

button.inline-link {
  display: inline;
  color: #ffbcaf;
}

button.inline-link:hover,
button.inline-link:focus {
  color: #d63a00;
}

.enter-screen button.enter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 20%;
}

.enter-screen button.enter img {
  height: 25rem;
}
.enter-screen button.enter img:hover {
  -webkit-filter: drop-shadow(0px 0px 0px #800a12);
  filter: drop-shadow(0px 0px 0px #800a12);
}

.enter-screen button.skip-intro {
  /* position: fixed; */
  /* height: 25rem; */
  /* bottom: 2rem; */
  /* right: 6rem; */
  font-size: 1.6rem;
  /* color: #ff9c84; */
  /* background-color: rgba(46, 1, 15, 0.5); */
  /* border-radius: 12px; */
  /* padding: 0.6rem; */
  padding-left: 1rem;
}

.enter-screen button.skip-intro:hover {
  filter: brightness(120%);
}

.enter-screen button.skip-intro svg {
  top: 0.125em;
  position: relative;
}

.enter-screen .controls {
  position: fixed;
  color: #ff9c84;
  font-size: 2rem;
  display: flex;
  bottom: 2rem;
  right: 2rem;
  z-index: 25;
  cursor: pointer;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  /* background-color: rgba(46, 1, 15, 0.5); */
  padding: 0.6rem;
  filter: drop-shadow(1px 10px 10px #000) drop-shadow(1px 10px 10px #000);
}

.enter-screen .controls span {
  margin: 0 1rem 0 1rem;
}

.enter-screen .controls span:hover {
  color: #b22d3f;
}

.enter-screen .password {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 60%;
  text-align: center;
  filter: brightness(40%) sepia(100%) hue-rotate(-45deg);
}

.enter-screen .password input {
  font-size: 0.9rem;
  padding: 0.4rem;
  text-align: center;
}

.enter-screen .password p {
  margin-top: 1rem;
}

.enter-screen .password p b {
  font-size: 1.5rem;
  line-height: 50px;
}

.zizi-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  color: #ff9c84;
  transition: left 1s ease;
  touch-action: none;
}

.zizi-sidebar.closed {
  left: -27rem;
}

.zizi-sidebar .zizi-icon:hover {
  color: #b22d3f;
}

.button-sidebar {
  background-color: #380011;
  /* padding: 1rem; */
  box-shadow: 0px 0px 41px 10px rgba(0, 0, 0, 0.7);
}

.button-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.button-sidebar .zizi-icon {
  font-size: 2.1rem;
  height: 2rem;
}

.button-sidebar .close-button,
.close-sidebar-left .close-button {
  height: 2rem;
  width: 2rem;
  font-size: 2.1rem;
  padding: 1rem;
  display: block;
  background-color: #520319;
}

.button-sidebar .centered-buttons {
  display: flex;
  flex-direction: column;
}

.button-sidebar .centered-buttons .zizi-icon {
  padding: 20px 1rem 20px 1rem;
}

.close-sidebar-left {
  box-shadow: 0px 0px 41px 10px rgba(0, 0, 0, 0.7);
  background-color: #380011;
  width: 1rem;
  /* font-size: 2.1rem; */
  z-index: 1;
}

.main-sidebar {
  width: 27rem;
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #2e010f;
  background: linear-gradient(
    0deg,
    rgba(7, 0, 2, 1) 2%,
    rgba(46, 1, 15, 0.5) 70%,
    rgba(46, 1, 15, 0.9) 100%
  );
  /* transform: translateY(-50%); */
  z-index: 1;
}

.main-sidebar .main-bar-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.main-sidebar .main-bar-content div.copyright {
  padding-bottom: 5rem;
}

.main-sidebar .zizi-icon {
  font-size: 2rem;
  -webkit-filter: drop-shadow(0px 0px 10px #000);
  filter: drop-shadow(0px 0px 10px #000);
}

.main-sidebar a.inline-link {
  text-decoration: none;
  color: #ffbcaf;
}

.main-sidebar a.inline-link:hover {
  color: #d63a00;
}

.main-sidebar #main-bar-logo-bottom {
  display: none;
}

.main-sidebar div.divider {
  width: 6rem;
  height: 1px;
  background-color: #ffbcaf;
  display: block;
  margin: 1rem auto 1rem auto;
  height: 1px;
  flex-shrink: 0;
}

.main-sidebar .player-controls span {
  margin: 0 1rem 0 1rem;
}

.main-sidebar .now-playing .credits,
.main-sidebar .copyright {
  font-size: smaller;
}

.main-sidebar .now-playing .song-title {
  font-size: 1.1rem;
}

.main-sidebar .main-bar-content .about-button {
  font-size: 2rem;
  color: #ff9c84;
}
.main-sidebar .main-bar-content .about-button:hover {
  color: #aa272e;
}

.secondary-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 30rem;
  height: 100%;
  background-color: #2e010f;
  background: linear-gradient(
    0deg,
    rgba(7, 0, 2, 1) 2%,
    rgba(46, 1, 15, 0.5) 70%,
    rgba(46, 1, 15, 0.9) 100%
  );
  /* background: linear-gradient( 0deg, rgba(7, 0, 2, 1) 2%, rgba(46, 1, 15, 1) 70%, rgba(46, 1, 15, 1) 100%); */
  color: #ff9c84;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  transition: right 1s ease;
  z-index: 2;
}

.secondary-sidebar.closed {
  right: -30rem;
}

.secondary-sidebar .content-sidebar {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}

.performers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 1.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.performers-list .performer {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.8rem;
}

.performers-list .performer img {
  height: 10rem;
  box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.5);
  margin: 0.4rem;
}

.performers-list .performer .pick-performer:hover {
  filter: sepia(100%) brightness(120%);
  /* filter: contrast(90%) brightness(123%) blur(2px); */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/filter */
}

.performers-list .pick-performer .name {
  padding-top: 0.35rem;
  padding-bottom: 0.2rem;
}

.performers-list button:hover {
  color: #ffe6d2;
}

.performers-list button.info {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
  color: #a33122;
}

.performers-list button.info:hover {
  color: #ec5252;
}

.bios {
  text-align: right;
}

.biosPadding {
  padding: 0 2rem 0 2rem;
}

.bios h2 {
  filter: drop-shadow(0px 0px 10px rgb(255, 148, 105))
  drop-shadow(10px 10px 10px #000) drop-shadow(10px 10px 20px #000);
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.bios .backbutton {
  font-size: 1.2rem;
  background-color: #520319;
  padding: 0.8rem;
  /* border-radius: 12px; */
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.6));
}

.bios p {
  text-align: left;
  font-family: "Roboto Slab", charter, Georgia, Cambria, "Times New Roman",
    Times, serif;
}

.bios a {
  /* padding-top: 5rem; */
  text-align: center;
  font-family: "Roboto Slab", charter, Georgia, Cambria, "Times New Roman",
    Times, serif;
}

.bios img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.secondary-header {
  margin-top: 2rem;
}

.secondary-sidebar .song {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: left;
  margin-bottom: 1rem;
  /* background-color: #38001170; */
}

.secondary-sidebar .song:hover {
  box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.7);
  filter: brightness(150%);
}

.secondary-sidebar .song button:hover {
  color: #edb49f;
}



.secondary-sidebar .song img {
  height: 4rem;
  float: left;
}

.secondary-sidebar .song p {
  height: 4rem;
  font-size: 0.95rem;
  padding-left: 1rem;
  width: 270px;
  display: table-cell;
  vertical-align: middle;
  -webkit-touch-callout: none;
}

.secondary-sidebar .song small {
  color: rgb(180, 95, 74);
}

.secondary-sidebar .song .sname {
  color: rgb(255, 225, 200);
}

/* about page */

.about-page {
  color: #ee9c92;
  font-family: "Roboto Slab", charter, Georgia, Cambria, "Times New Roman",
    Times, serif;
  line-height: 32px;
  font-size: 18px;
  margin: 0px;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.about-page h2 {
  margin-top: 4rem;
}

.about-page p {
  /* text-align: justify; */
  /* text-justify: inter-word; */
}

.about-page .about {
  max-width: 650px;
  margin: auto;
  display: block;
  object-fit: fill;
  padding-left: calc(50% - 325px);
  padding-right: calc(50% - 325px);
  overflow-x: auto;
  overflow-y: scroll;
  height: 100%;
}

.about-page .secondary-header {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: 20rem;
}

.about-page .banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 100%;
  mix-blend-mode: lighten;
}

.about-page hr {
  border-color: #ee9c92;
  margin: 4rem;
}

.about-page .footnote {
  font-size: 0.9rem;
  line-height: 0.9rem;
  text-align: left;
}

.about-page .footnoteLink sup {
  font-size: 12px;
  text-decoration: underline;
}

.about-page .curtain-bg {
  filter: brightness(60%);
}

.about-page .close {
  font-size: 3rem;
}

.about-page iframe {
  text-align: center;
}

.about-page .anchors {
  /* text-align: center; */
  list-style-type: square;
  font-size: smaller;
  margin-top: 2rem;
  color: #edb49f;
}

.about-page .anchor {
  font-family: "market_decoregular", sans-serif;
  text-decoration: underline;
}

.about-page .anchor:hover {
  color: #aa272e;
}

.about-page .diagram {
  width: 100%;
  margin: 20px 0 20px 0;
  mix-blend-mode: lighten;
}

.picker {
    isolation: isolate;
}

.pickerAboutButton {
  position: fixed;
  bottom: 2rem;
  left: 6rem;
  font-size: 1.6rem;
  color: #ff9c84;
  background-color: rgba(46, 1, 15, 0.5);
  border-radius: 12px;
  padding: 0.6rem;
  filter: drop-shadow(20px 20px 5px #000);
}

.pickerAboutButton:hover {
  -webkit-filter: drop-shadow(0px 0px 0px #800a12);
  filter: drop-shadow(0px 0px 0px #800a12);
}

.main-sidebar #main-bar-logo-top,
.main-sidebar #main-bar-logo-bottom {
  /* -webkit-flex: 1 0;
  flex: 1 0; */
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex: 0;
  flex-shrink: 0;
}

.zizi-intro-video,
.picker .intro-video {
  position: fixed;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.zizi-intro-video {
  z-index: 0;
}

.picker .intro-video {
  z-index: -2;
}

#main-bar-logo-top,
#main-bar-logo-bottom,
.curtain-bg,
.curtain-side,
.drag-video,
.secondary-header,
.secondary-sidebar .song img,
.secondary-sidebar .song p,
.about-page .secondary-header {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* display for mobile and tablet */

@media (max-aspect-ratio: 4/5) and (orientation: portrait) {
  html {
    font-size: 14px;
    touch-action: none;
  }

  body {
    touch-action: none;
  }

  .enter-screen button.enter img {
    height: auto;
    width: 90%;
  }

  .enter-screen button.skip-intro {
    right: 2rem;
  }

  .zizi-sidebar {
    right: 0;
    top: auto;
    bottom: 0;
    height: 30rem;
    flex-direction: column-reverse;
    transition: bottom 1s ease;
    touch-action: none;
  }

  .zizi-sidebar.closed {
    left: 0;
    bottom: -26rem;
  }

  .button-sidebar {
    flex-direction: row;
    /* height: 20%; */
    /* height for safari - no idea why */
  }

  .button-sidebar .centered-buttons {
    flex-direction: row;
  }

  .button-sidebar .centered-buttons .zizi-icon {
    padding: 1rem 20px 1rem 20px;
  }

  .close-sidebar-left {
    width: 100%;
    height: 1rem;
    min-height: 1rem;
    max-height: 1rem;
  }

  .secondary-header {
    margin-top: 1rem;
  }

  .main-sidebar {
    width: 100%;
  }

  .main-sidebar .main-bar-content {
    flex-shrink: 0;
    margin-top: 2rem;
  }

  .secondary-sidebar {
    left: 0;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 30rem;
    flex-direction: column;
    transition: bottom 1s ease;
    /* background: linear-gradient( 0deg, rgba(7, 0, 2, 1) 2%, rgba(46, 1, 15, 1) 70%, rgba(46, 1, 15, 1) 100%); */
    backdrop-filter: blur(2px);
  }

  .secondary-sidebar.closed {
    bottom: -35rem;
  }

  .secondary-sidebar.zizi-picker-bar {
    background: linear-gradient(
      0deg,
      rgba(7, 0, 2, 1) 2%,
      rgba(46, 1, 15, 0.5) 70%,
      rgba(46, 1, 15, 0.9) 100%
    );
    backdrop-filter: none;
  }

  .main-sidebar #main-bar-logo-top {
    display: none;
  }

  .main-sidebar #main-bar-logo-bottom {
    display: block;
    height: 8rem;
  }

  .main-sidebar .main-bar-content div.copyright {
    padding-bottom: 1rem;
  }

  .about-page .about {
    padding: 1.5rem;
  }

  .about-page p {
    font-size: 1.1rem;
  }
  .about-page .anchors {
    padding: 0.5rem;
  }

  .pickerAboutButton {
    top: 2rem;
    left: 1rem;
    height: 3rem;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  body #main-bar-logo-top {
    /* order: 1; */
    height: 12rem;
    /* flex-shrink: 0; */
  }

  body .main-sidebar {
    display: block;
  }
}
