body {
  background-color: black;
  color: white;
  font-family: "Righteous", sans-serif;
  z-index: 1;
}

.buttons svg {
  margin: 10px;
  font-size: 35px;
}

.curtain {
  position: absolute;
  max-width: 150%;
  max-height: 150%;
  left: 50%;
  top: 50%;
  user-select: none;
  transform: translate(-50%, -50%);
  z-index: -3;
}

.drag-player .primary-player {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  user-select: none;

  mix-blend-mode: lighten;
  z-index: -1;
}

.drag-player .shadow-player {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-40%, -45%);
  user-select: none;

  filter: opacity(70%);
  mix-blend-mode: multiply;
  z-index: -2;
}
